$color-lighten: #2e5849;
$color-alt: #1c382f;
$color-darken: #183129;

$shadow-input: rgba(0,0,0,.1);
$shadow-focus: rgba(0,0,0,.5);

$color-text-input: #fff;
$color-text-ph: rgba(255, 255, 255, .5);

$color-task-bc: #eee;
$color-task-border: #ccc;

$gutter: 1rem;
